DB_ENGINE=postgresql
DB_HOST=db
DB_PORT=5432
DB_NAME=achievements_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect
DB_DDL_AUTO=update
JPA_SHOW_SQL=true

KAFKA_BOOTSTRAP_SERVERS=broker:29092

TOPIC_NAME=achievements.topic
